.Input-sp{
    width: 270px;
    height: 35px;
    border-radius:10px;
    border: 2px solid rgb(187, 187, 187);
}
.Input-sp:hover{
    border: 2px solid rgb(0, 0, 0);
}
.App{
    padding: 100px;
}
.Button-sp{
    width: 100px;
    height: 35px;
    background-color: #FF5E1F;
    border-radius: 6px;
    color:white;
    text-align: center;
    font-weight: bold ;
    font-size: 15px;
    padding: 10px 5px;
    border: transparent;
}
.Button-sp:hover{
    width: 100px;
    height: 35px;
    background-color: #d4501c;
    border-radius: 6px;
    color:white;
    text-align: center;
    font-weight: bold ;
    font-size: 15px;
    padding: 10px 5px;
    border: transparent;
}
.Button-sp:active{
    background-color: #472619;
    color: aqua;  
}
.Select-sp{
    width: 100px;
    height: 35px;
    font-size: 15px;
}
.divTong2{
    margin-left: 120px;
    display: flex;
    text-align: left;
}

.Formthanhtoan {
    padding: 15px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}
.Bankimg{
    padding: 10px;
    height: 30px;
    margin-left: 10px;
}